/node_modules
/public/assets/activities
/public/assets/articles
/public/assets/background
/public/assets/members
/public/assets/news
/public/assets/sertifikat
/public/assets/sponsor
/public/assets/surat
/public/assets/ttd
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
