.h4-title{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
}

.judul-dashboard{
  display: flex;
  margin-top: 2rem;
  margin-left: 1rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.judul-dashboard h4{
  font-size: 2rem;
  line-height: 3rem;

}

.icon-judul{
  font-size: 2.5rem;
  line-height: 3rem;
  width: 3rem;

}

.flow-registrasi{
  margin-top: 2rem;
  margin-left: 1rem;
  background-color: #fff;
  border: 1px solid #a09d9d;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  width: 100%;
}



body{background-color: #eee}.form-control:focus{color: #495057;background-color: #fff;border-color: #80bdff;outline: 0;box-shadow: 0 0 0 0rem rgba(0,123,255,.25)}.btn-secondary:focus{box-shadow: 0 0 0 0rem rgba(108,117,125,.5)}.close:focus{box-shadow: 0 0 0 0rem rgba(108,117,125,.5)}.mt-200{margin-top:200px}
.insert-data{
    padding-top: 1em;
}

.tab .nav-tabs{
    padding-left: 15px;
    padding-top: 2px;
    border-bottom: 8px solid #1d1d81;
}
.tab .nav-tabs li a{
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    background: #1d1d81;
    text-shadow: 1px 1px 2px #000;
    border: none;
    border-radius: 0;
    opacity: 0.5;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover{
    background: #1d1d81;
    opacity: 0.8;
}
.tab .nav-tabs li.active a{
    opacity: 1;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a:focus{
    color: #fff;
    background: #1d1d81;
    border: none;
    border-radius: 0;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
    content: "";
    border-top: 42px solid transparent;
    position: absolute;
    top: -2px;
}
.tab .nav-tabs li a:before{
    border-right: 15px solid #1d1d81;
    left: -15px;
}
.tab .nav-tabs li a:after{
    border-left: 15px solid #1d1d81;
    right: -15px;
}
.tab .nav-tabs li a i,
.tab .nav-tabs li.active a i{
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
    text-shadow: none;
}
.tab .nav-tabs li a span{
    display: inline-block;
    font-size: 14px;
    letter-spacing: -9px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover span,
.tab .nav-tabs li.active a span{
    letter-spacing: 1px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.tab .tab-content{
    padding: 30px;
    background: #fff;
    font-size: 16px;
    color: #6c6c6c;
    line-height: 25px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    .tab .nav-tabs li a span{
        letter-spacing: 1px;
        opacity: 1;
    }
}

#regForm {
    background-color: #ffffff;
    font-family: Raleway;
    padding: 40px;
    width: 100%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    padding: 0 1em;
    margin-right: 2px;
    background-color: #bbbbbb;
    border: none;  
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    opacity: 0.5;
  }

 
  .step p{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  .header-step{
      text-align: left;
      margin-bottom: 3em;
      border-bottom: 2px solid black;
      
  }

  .rata-tengah{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upload-foto{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-upload{
    padding-top: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
  }

  .h3-judul{
    margin-top: 1.5em;
    margin-left: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
  }

  .form-upload-file{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 60px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  .file-upload-wrapper:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  .file-upload-wrapper:hover:before {
    background: #3d8c63;
  }
  .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }

  .detail-foto{
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .garis-bawah{
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .upload-isi{
    background-color: white ;
    width: 100%;
    height: 60px;
    padding-left: 1em;
    border-radius: 5px;
    display: flex;
  }

  .upload-label{
    color: #999;
    line-height: 60px;
    font-size: 1.2em;
  }

  .action-kanan{
    line-height: 60px;
    margin-right: 10px;
    font-size: 1.1em;
    margin-left: auto;
    
  }

  .upload-edit{ 
   
    padding: 3px;
    color: black;
    font-size: larger;
  }

  .upload-hapus{
    padding: 3px;
    margin-left: 5px;
    margin-right: 10px;
    color: black;
    font-size: larger;
  }

  .upload-edit:hover{
    color: rgb(7, 58, 197);
  }

  .upload-hapus:hover{
    color: rgb(255, 0, 0);
  }

  .sertifikat{
    border: 1px solid rgba(37, 33, 33, 0.39);
    margin: 1.5em 2px;
    border-radius: 10px;
    padding: 1em;
  }

  .sertifikat h3{
    color: rgba(15, 15, 15, 0.788) ;
  }

  .icon-tambah{
    margin-left: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    background-color: rgba(12, 150, 12, 0.856);
    color: white;
    border-radius: 5px;
  }

  .icon-hapus{
    margin-left: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    background-color: rgba(199, 4, 4, 0.856);
    color: white;
    border-radius: 5px;
  }

  .wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 0 20px;
  }

  .wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
  }

  .wizard_horizontal ul.wizard_steps {
    list-style: none;
  }

  .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: #666;
  }
  .wizard_horizontal ul.wizard_steps li {
    text-align: center;
  }
  .wizard_horizontal ul.wizard_steps {
    list-style: none;
  }

  .wizard_horizontal ul.wizard_steps li:first-child a::before {
    left: 50%;
  }

  .wizard_horizontal ul.wizard_steps li a.selected::before, .step_no {
    background: #34495E;
    color: #fff;
  }

  .wizard_horizontal ul.wizard_steps li a::before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 20px;
    width: 100%;
    z-index: 4;
    left: 0;
  }

  .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: #666;
  }

  .wizard_horizontal ul.wizard_steps li a .step_no {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  
  .wizard_horizontal ul.wizard_steps li:last-child a::before {
    right: 50%;
    width: 50%;
    left: auto;
  }

  .wizard_verticle ul.wizard_steps li a.selected::before, .step_no {
    background: #34495E;
    color: #fff;
  }
